{% extends 'main.html' %}

{% block content %}
  <h2>고급용 게시판</h2>

  <div style="text-align: right; margin-bottom: 10px;">
    <form method="get" action="{% url 'board:advanced_board' %}">
      <input type="text" name="search" placeholder="검색어 입력" value="{{ search_query }}">
      <button type="submit">검색</button>
    </form>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="text-align: left;">제목</th>
        <th scope="col" style="text-align: right;">작성자</th>
        <th scope="col" style="text-align: right;">작성 시간</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td><a href="{% url 'board:post_detail' post.id %}">{{ post.title }}</a></td>
          <td style="text-align: right;">{{ post.author.username }}</td>
          <td style="text-align: right;">{{ post.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if posts.has_previous %}
        <a href="?search={{ search_query|urlencode }}&page=1">&laquo; first</a>
        <a href="?search={{ search_query|urlencode }}&page={{ posts.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        페이지 {{ posts.number }} / {{ posts.paginator.num_pages }}
      </span>

      {% if posts.has_next %}
        <a href="?search={{ search_query|urlencode }}&page={{ posts.next_page_number }}">next</a>
        <a href="?search={{ search_query|urlencode }}&page={{ posts.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

  <div style="text-align:right">
    <a href="{% url 'board:create_post' group='advanced' %}" class="btn btn-primary">글쓰기</a>
  </div>
{% endblock %}
