{% extends 'main.html' %}

{% block content %}
  <div class="notice-detail">
    <h2 style="text-align: left;">{{ notice.title }}</h2>
    <p style="text-align: left; font-weight: bold;">작성자: {{ notice.author.username }} | 작성일: {{ notice.created_at }}</p>
    <p style="text-align: left;">{{ notice.content }}</p>
    <a href="{% url 'board:notice' %}" class="btn btn-secondary">목록보기</a>
</div>
  <style>
    .notice-detail {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
{% endblock %}