{% extends 'main.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: left; text-align: left;">
    <div class="content-box" style="width: 100%; max-width: 800px; padding: 20px;">
        <h3 style="text-align:center;">연구회 소개</h3>
        <br>
        <p>본 연구회는 학문적 공동체를 마련하여 로르샤흐 검사에 대한 지식과 기술을 공유하고 연구하며, 그에 따른 학술 모임을 운영한다.</p>
        <p>이를 통해 회원의 전문적인 자질향상, 권익신장, 회원 간 상호교류 및 친목도모와 함께 사회공동체에 기여함을 목적으로 한다.</p>
        <br>
        <p>본 연구회의 회원은 전문회원, 일반회원, 준회원으로 나눈다.</p>
        <ul>
            <li><strong>전문회원:</strong> 임상심리전문가 자격을 취득하였거나 정신건강임상심리사 자격을 취득한 자</li>
            <li><strong>일반회원:</strong> 임상심리전문가 또는 정신건강임상심리사 수련과정 중인 자</li>
            <li><strong>준회원:</strong> 한국심리학회 준회원 이상이며 동시에 임상심리학회 준회원 이상인 자</li>
        </ul>
    </div>
</div>
{% endblock %}