{% extends 'main.html' %}

{% load widget_tweaks %}

{% block content %}
 <div class="container" style="display: flex; justify-content: center; align-items: left;">
    <div class="box" style="width: 100%; max-width: 600px; padding: 20px; text-align: left;">
        <h3 style="text-align:center;">연간 활동계획</h3>
        <br>
        <p><b>1. 2024 상반기 로르샤흐 연구회 초급 워크숍</b></p>
        <p>1) 일시: 2024년 2월 17일(토) 10-17시(점심: 12-13시)</p>
        <p>2) 진행방식: zoom 온라인 화상강의</p>
        <p>3) 주제: 로르샤흐의 실시와 채점: 슬기로운 로르샤흐 활용을 위한 기초</p>
        <br>
        <p><b>2. 2024 상반기 로르샤흐 연구회 중급 워크숍</b></p>
        <p>1) 일시: 2024년 3월 23일(토) 10-17시(점심: 12-13시)</p>
        <p>2) 장소: 서울여자대학교 강의실(장소 추후 공지 예정)</p>
        <p>3) 주제: 로르샤흐의 해석: 투사에 기초한 반응 해석하기</p>
        <br>
        <p><b>3. 2024 상반기 로르샤흐 연구회 고급 워크숍</b></p>
        <p>1) 일시: 2024년 3월 30일(토) 10-17시(점심: 12-13시)</p>
        <p>2) 장소: 서울여자대학교 강의실(장소 추후 공지 예정)</p>
        <p>3) 주제: 심리치료에서의 로르샤흐 활용: 슬기로운 로르샤흐 활용법</p>
        <br>
        <p><b>4. 로르샤흐 사례회의</b></p>
        <p>1) 일시 및 장소: 2024년 7월 예정 (장소 추후 공지)</p>
        <p>2) 주제 및 프로그램 내용: 로르샤흐를 통한 사례 이해 I</p>
        <br>
        <p><b>5. 로르샤흐 사례회의</b></p>
        <p>1) 일시 및 장소: 2024년 8월 예정 (장소 추후 공지)</p>
        <p>2) 주제 및 프로그램 내용: 로르샤흐를 통한 사례 이해 II</p>
    </div></div>
{% endblock %}