{% extends 'main.html' %}

{% load widget_tweaks %}

{% block content %}
<h3>개인정보 처리방침</h3>
<div style="text-align:left; white-space:pre-wrap; padding:10px;">
가. 수집 및 이용 목적
  - 한국임상심리학회 로르샤흐 연구회의 회원으로 가입하여 서비스를 이용하고자 하는 이용자에게 회원 관리를 위해 필요한 최소한의 범위 내에서 개인정보를 수집하고 있습니다.

나. 수집 및 이용 항목
  1) 필수항목 : 성명, 생년월일, 연락처, 전자우편, 경력사항, 한국임상심리학회 회원 여부, 자격증 취득여부

다. 개인정보의 보유 및 이용 기간
  - 연구회원의 개인정보 수집ㆍ이용에 관한 동의일로부터 회원자격 종료 시까지 위 이용목적을 위하여 보유 및 이용하게 됩니다. 단, 회원자격 종료 후에는 민원처리, 분쟁해결 및 법령상 의무이행 등을 위하여 1년간 보유하게 됩니다.

라. 동의를 거부할 권리 및 동의를 거부할 경우의 불이익
  - 위 개인정보 중 필수정보의 수집ㆍ이용에 관한 동의는 로르샤흐 연구회 서비스 이용을 위해 필수적이므로, 위 사항에 동의하셔야만 관련 서비스를 사용 가능합니다.
  - 모든 회원은 회원 본인의 정보를 제공하여야만 서비스를 이용할 수 있으며, 타인의 정보를 도용하거나 허위의 정보를 등록하는 등 본인의 진정한 정보를 등록하지 않은 회원은 서비스 이용과 관련하여 아무런 권리를 주장할 수 없으며, 관계 법령에 따라 처벌 받을 수 있습니다.
  - 회원가입은 반드시 본인의 진정한 정보를 통하여만 가입할 수 있으며 연구회는 회원이 등록한 정보에 대하여 확인조치를 할 수 있습니다. 회원은 연구회의 확인조치에 대하여 적극 협력하여야 하며, 만일 이를 준수하지 아니할 경우 연구회는 회원이 등록한 정보가 부정한 것으로 처리할 수 있습니다.

임상심리학회 로르샤흐 연구회가 위와 같이 개인정보 필수항목을 수집ㆍ이용하는 것에 동의합니다.

            </div>
{% endblock %}